/*SIGNUP1*/
#signup,
#login {
  margin-top: 15vh;
  color: blue;
  text-align: center;
  /* Float cancel and signup buttons and add an equal width */
  /* Clear floats */
}
#signup .emailbtn,
#login .emailbtn {
  background-color: blue;
  color: white;
  border: none;
  padding: 20px;
}
#signup .button a,
#login .button a {
  color: white;
}
#signup .googlebtn:hover,
#login .googlebtn:hover {
  opacity: 1;
}
#signup .emailbtn:hover,
#login .emailbtn:hover {
  opacity: 1;
}
#signup .googlebtn,
#login .googlebtn {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  padding: 20px;
}
#signup .emailbtn,
#signup .googlebtn,
#login .emailbtn,
#login .googlebtn {
  padding: 24px 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: center;
  font-size: 16px;
  width: 100px;
  opacity: 0.9;
}
#signup .checkbox,
#login .checkbox {
  width: 20vw;
  float: left;
}
#signup label,
#login label {
  width: 100%;
}
#signup label .fa,
#login label .fa {
  font-size: 1.5em;
}
#signup label .label-two-inputs,
#login label .label-two-inputs {
  width: 25% !important;
}
#signup input[type=text],
#signup input[type=password],
#signup input[type=date],
#login input[type=text],
#login input[type=password],
#login input[type=date] {
  width: 60%;
  padding: 14px 28px;
  margin: 30px;
  display: inline-block;
  font-size: 1em;
  border: none;
  background: #f1f1f1;
}
@media screen and (max-width: 951px) {
  #signup input[type=text],
#signup input[type=password],
#signup input[type=date],
#login input[type=text],
#login input[type=password],
#login input[type=date] {
    font-size: 14px;
    margin: 0;
  }
}
#signup input[type=text]:focus,
#signup input[type=password]:focus,
#signup input[type=date]:focus,
#login input[type=text]:focus,
#login input[type=password]:focus,
#login input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}
#signup #next,
#login #next {
  float: initial;
  width: 50%;
}
@media screen and (max-width: 300px) {
  #signup #next,
#login #next {
    width: 100%;
  }
}
#signup .button::after,
#login .button::after {
  content: "";
  clear: both;
  display: table;
}
#signup .foot,
#login .foot {
  padding: 10px;
}
#signup #buttonsfascia button,
#login #buttonsfascia button {
  background: blue;
  color: white;
}

/*CHATS*/
#chats {
  /* Clear floats */
}
#chats button {
  background-color: blue;
  color: white;
  padding: 10px 10px;
  margin: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: center;
  font-size: 13px;
  width: 100px;
  opacity: 0.9;
  float: right;
}
#chats button:hover {
  opacity: 1;
}
#chats .button::after {
  content: "";
  clear: both;
  display: table;
}

/*HOME*/
#home .form-control:hover {
  color: white;
  background-color: #0066cc;
}
#home .form-control {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  height: 50px;
  width: 140px;
  border: 2px solid #0066cc;
  border-radius: 15px;
}
#home #SocialBtn {
  right: 250px;
}
@media screen and (max-width: 959px) {
  #home #SocialBtn {
    right: 200px;
  }
}
#home #OrganizeBtn {
  left: 250px;
}
@media screen and (max-width: 959px) {
  #home #OrganizeBtn {
    left: 200px;
  }
}

/*LOGIN*/
#login input[type=text],
#login input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  border: none;
  background: #f1f1f1;
}
#login input[type=text]:focus,
#login input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
#login hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/*SEARCHPEOPLE*/
#searchpeople #myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

/*LIST CHATS*/
#listchats button {
  background-color: blue;
  color: white;
  padding: 10px 10px;
  margin: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: center;
  font-size: 13px;
  width: 100px;
  opacity: 0.9;
  float: right;
}
#listchats button:hover {
  opacity: 1;
}

/*ORG FLIGHTS*/
#orgflights #kayak,
#orgflights #skyScan,
#orgflights #expedia,
#orgflights #momondo,
#orgflights #eDreams {
  color: black;
  background-color: white;
  margin: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}

/*ORG PROPS*/
#orgprops #traveldoc,
#orgprops #international,
#orgprops #europe,
#orgprops #badass,
#orgprops #things {
  color: black;
  background-color: white;
  margin: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}
@media screen and (max-width: 959px) {
  #orgprops #traveldoc,
#orgprops #international,
#orgprops #europe,
#orgprops #badass,
#orgprops #things {
    font-size: 10px;
    width: 80%;
    margin: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*ORG SLEEP*/
#orgsleep #trivago,
#orgsleep #airbnb,
#orgsleep #booking,
#orgsleep #hotels,
#orgsleep #wimdu {
  color: black;
  background-color: white;
  margin: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}
@media screen and (max-width: 959px) {
  #orgsleep #trivago,
#orgsleep #airbnb,
#orgsleep #booking,
#orgsleep #hotels,
#orgsleep #wimdu {
    font-size: 10px;
    width: 80%;
    margin: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*HOME*/
#home a {
  text-decoration: none;
  color: #0000cc;
}
#home a:hover {
  color: white;
}

/*SEARCH PEOPLE*/
@media screen and (max-width: 300px) {
  #searchpeople #myUL div a {
    width: 90px;
    height: 90px;
    padding: 12px;
    font-size: 8px;
    color: black;
  }
}

nav {
  background: blue;
}

#navbarCollapse a {
  text-decoration: none;
  color: white;
}

#navbarCollapse a:hover {
  background-color: #6dd5e1;
}

#users,
#logout,
#msg,
#org {
  color: white;
}

/*ORG FLIGHTS*/
#orgflights #testo {
  color: white;
  background-image: url("/img/plane.jpg");
  font-family: "Times New Roman", Times, serif;
  margin: 70px;
  padding: 50px;
}
@media screen and (max-width: 959px) {
  #orgflights #testo {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }
}
#orgflights #testo h1,
#orgflights h3 {
  text-shadow: 3px 3px 2px blue;
}
#orgflights .column h2 {
  padding-left: 20px;
}

/*ORG HOME*/
#orghome #socialIconP {
  color: white;
  text-decoration: none;
}
#orghome .paragrafo b {
  color: white;
  font-weight: bold;
  padding-left: 100px;
  font-family: "Times", serif;
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
}
#orghome .testo {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 42px;
  top: 10vh;
  left: 20vw;
  color: white;
  position: absolute;
}
#orghome .paragrafo {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

/*ORG PROPS*/
#orgprops #testo {
  color: white;
  background-image: url("/img/props.jpg");
  font-family: "Times New Roman", Times, serif;
  margin: 70px;
  padding: 50px;
}
#orgprops #testo h1,
#orgprops h3 {
  text-shadow: 3px 3px 2px blue;
}
#orgprops .column h2 {
  padding-left: 20px;
}

/*ORG SLEEP*/
#orgsleep #testo {
  color: white;
  background-image: url("/img/sleeep.jpeg");
  font-family: "Times New Roman", Times, serif;
  margin: 70px;
  padding: 50px;
}
#orgsleep #testo h1,
#orgsleep h3 {
  text-shadow: 3px 3px 2px blue;
}
#orgsleep .column h2 {
  padding-left: 20px;
}

/*HOME*/
#home #home h1 {
  padding: 15px;
  color: #0066cc;
  font-size: 50px;
}
#home #paragraph {
  text-shadow: 3px 3px 2px #0066cc;
  position: absolute;
  top: 80px;
  color: white;
  font-size: 40px;
  padding: 20px;
}
@media screen and (max-width: 959px) {
  #home #paragraph {
    font-size: 10px;
    top: 20%;
  }
}
#home #p2 {
  text-shadow: 3px 3px 2px #0066cc;
  font-size: 25px;
}

/*SIGN UP*/
@media screen and (max-width: 959px) {
  #signup h1 {
    font-size: 1em;
  }
}

/*LIST CHATS*/
#listchats h2 {
  text-align: left;
  margin-bottom: 20px;
}

/*HOME*/
#home #cf img {
  position: absolute;
  transition: opacity 1s ease-in-out;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-direction: alternate;
}
@media screen and (max-width: 959px) {
  #home #cf img {
    width: 100%;
    height: 70%;
  }
}
@keyframes example {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#home #cf img:nth-of-type(1) {
  animation-delay: 6s;
}
#home #cf img:nth-of-type(2) {
  animation-delay: 4s;
}
#home #cf img:nth-of-type(3) {
  animation-delay: 2s;
}
#home #cf img:nth-of-type(4) {
  animation-delay: 0s;
}

.container {
  padding: 60px;
}
@media screen and (max-width: 300px) {
  .container {
    padding: 40px;
  }
}

/*CHATS*/
#chats .chat {
  margin: 0px;
  margin-left: 40px;
  text-align: left;
  float: left;
  border: 1px solid;
  border-radius: 3px;
  width: 500px;
  height: 50px;
  padding: 10px;
}
@media screen and (max-width: 300px) {
  #chats .chat {
    margin: 0px;
    margin-left: 0px;
    text-align: left;
    float: left;
    border: 1px solid;
    border-radius: 3px;
    width: 150px;
    height: 60px;
    padding: 0px;
  }
}

#messages .chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  float: right;
  width: 400px;
}
#messages .darker {
  color: black;
  border-color: #ccc;
  background-color: #6495ed;
  float: left;
}
#messages .chat::after {
  content: "";
  clear: both;
  display: table;
}
#messages .time-right {
  float: right;
  color: #aaa;
}
#messages .time-left {
  float: left;
  color: gray;
}
#messages #usermsg {
  margin-top: 50px;
  padding: 20px;
  width: 500px;
  border: 2px solid #acd8f0;
}
@media screen and (max-width: 300px) {
  #messages #usermsg {
    float: left;
    margin-top: 20px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 6px;
    padding: 10px;
    padding-left: 5px;
    width: 170px;
  }
}

/*HOME*/
@media screen and (max-width: 959px) {
  #home .form-control {
    font-size: 10px;
    top: 70%;
    width: 35%;
    height: 30px;
  }
}

/*SIGNUP*/
#buttonsfascia {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #eee;
}

/*SEARCH PEOPLE*/
#searchpeople #myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#searchpeople #myUL div a {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  color: white;
  background-color: #6495ed;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}
#searchpeople #myUL div a:hover:not(.header) {
  background-color: #eee;
}
#searchpeople .elements {
  float: left;
  line-height: 100px;
  text-align: center;
  margin: 2px;
}

/*LIST CHATS*/
#listchats {
  box-sizing: border-box;
  color: blue;
  margin: 5px;
}
#listchats .chat {
  margin: 0px;
  margin-left: 40px;
  text-align: left;
  float: left;
  border: 1px solid;
  border-radius: 3px;
  width: 500px;
  height: 50px;
  padding: 10px;
}
@media screen and (max-width: 300px) {
  #listchats .container {
    padding: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
