body {
  background-color: white;
}

/*NAVBAR*/

#navbarCollapse a {
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  font-size: 17px;
}
#navbarCollapse a:hover {
  background-color: #6dd5e1;
}

/*TEXT*/

#testo {
  color: white;
  background-image: url("/img/plane.jpg");
  font-family: "Times New Roman", Times, serif;
  margin: 70px;
  padding: 50px;
}
#testo h1,
h3 {
  text-shadow: 3px 3px 2px blue;
}
.column h2 {
  padding-left: 20px;
}

/*LINKS*/

#kayak,
#skyScan,
#expedia,
#momondo,
#eDreams {
  color: black;
  background-color: white;
  margin: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}
